*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
}

main{
    display:grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #EFEFEF;
    grid-template-columns: 66% 34%;
    
}

#billLayout{
    padding: 10%;
    text-align: left;
    background-color: white;
}

#donutList{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
}

.image{
    height: 60%;
    width: 60%;
}

.donutCard{
    display: block;
    padding: 10%;
    margin: 5%;
    border: 2px solid #CCCCCC;
    background-color: white;
    text-align: left;
}

.paraName{
    font-weight: bolder;
    font-size: medium;
}

.paraDesc{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
    font-weight: 500;
    font-style: italic;
}

.button{
    margin-top:10px;
    border: 1px solid black;
    font-weight: bold;
    cursor:pointer;
    border-radius: 5px;
    color: black;
    padding: 5%;
}

.button:active {
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    transform: translateY(4px);
}  

.grid{
    display: grid;
    padding: 1%;
    grid-template-columns: 25% 75%;
}
.para{
    margin-top: 2%;
    margin-bottom: 2%;
}

.paraQuan{
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bolder;
    font-size: small;
}

#orderedDonutList{
    padding: 5%;
}

.blueText {
    text-align: left;
    font-weight: bold;
    color: blue;
}

.redText {
    padding: 1%;
    font-weight: bold;
    color: red;
}